/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  @media (max-width: $screen-sm-max) {
    padding:{
      left: 20px;
      right: 20px;
    }
  }
  & > .container.main {
    overflow: auto;
    padding-bottom: $footer-height+$footer-margin-top;
  }
}

#footer {
  @media (max-width: $screen-sm-max) {
    padding:{
      left: 20px;
      right: 20px;
    }
  }
  position: relative;
  margin-top: -$footer-height;
  height: $footer-height;
  clear: both;
  padding-top: $footer-padding-vertical;
  background: $footer-bg;
  color: $msiu-gray;
  a {
    color: $footer-color;
    text-decoration: none;
    &:hover {
      color: $msiu-red;
      transition: .3s all ease;
    }

  }
}
