$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$padding-base-vertical: 10px;
$padding-base-horizontal: 15px;
$padding-large-vertical: 16px;
$padding-large-horizontal: 20px;

$grid-gutter-width: 0;

$footer-height: 140px;
$footer-margin-top: 30px;
$footer-padding-vertical: 30px;
$footer-bg: #333;


@import 'colors';
@import 'bootstrap';

@import 'buttons';
@import 'footer';
@import 'flash_messages';

a.brand {
  color: $msiu-gray;
  @include transition(all 1s);
  &:hover {
    color: $msiu-red;
    @include transition(all .5s);
  }
}

.nowrap {
  white-space: nowrap;
}

.navbar-brand2 {
  @extend .navbar-brand;
  font-size: 24px;
}

.required:after {
  content: '*';
  color: $alizarin;
}

.field_with_errors {
  @extend .has-error;
}

a {
  text-decoration: none;
  &:hover, &:active {
    text-decoration: none;
  }
}

.msiu-red {
  color: $msiu-red;
}

.msiu-gray {
  color: $msiu-gray;
}

.alert.alert-notice {
  @extend .alert;
  @extend .alert-success;
}