%aside#sidebar-wrapper
  %ul.sidebar-nav
    %li.sidebar-brand
      =link_to root_path do
        =image_tag 'mephi_logo_small_white.png', alt: t('app.company.short_name')
    %li=link_to 'test', ?#
    %li=link_to 'test', ?#
    %li=link_to 'test', ?#
    %li=link_to 'test', ?#