body
  padding-top: 90px
  font-family: 'Proxima Nova Regular'
  font-weight: normal

.light
  font-weight: 100
.bold
  font-weight: 600
.upcase
  text-transform: uppercase

.intro
  font-family: 'Intro'

.navbar-fixed-top
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4)

.navbar-brand
  height: auto
  text-transform: uppercase
  font-weight: 600



.has-error .form-control:focus, .form-control:focus
  box-shadow: none



.field_with_errors
  @extend .has-error


a
  transition: all .5s
  &:hover, &:active, &:focus
    text-decoration: none


.alert-block
  position: absolute
  right: 0
  top: 70px
  z-index: 5
  margin-right: 30px
  opacity: .8

.growl-msg
  display: none

.btn-toolbar
  margin: 20px 0

.table
  th
    text-align: center
    vertical-align: middle !important
.actions
  margin: $padding-base-vertical 0

label.required:after
  content: "*"
  color: $brand-danger

.table-default
  @extend .table-condensed
  @extend .table-bordered
